 .mainWrap {
     background-color: #0a0e1b;
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .outerBox {
     border: 2px solid black;
     width: 80%;
     border-radius: 10px;
     background-color: #010e1d;
     border: 1px solid azure;
     box-shadow: 0px 0px 20px azure;
 }

 .innerBox {
     border-radius: 10px;
     text-align: center;
     text-transform: uppercase;
     background-color: #010e1d;
 }

 .title {
     background-color: #010e1d;
     padding: 15px;
     font-family: sans-serif;
     font-weight: 800;
     border-radius: 4px;
     color: #1eea3a;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 20px;
     border-bottom: 4px solid azure;
 }

 .wrap {
     border-radius: 4px;
     padding: 4px;
     height: 450px;
     overflow-y: scroll;
     background-color: #010e1d;
     margin-top: -10px;
 }

 .sender {
     display: flex;
     justify-content: end;
     padding: 4px;
 }

 .sendMsg {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     margin: 4px;
     border-radius: 4px;
     width: auto;
     background-color: transparent;
     border: 1px solid rgb(247, 108, 198);
     padding: 8px;
     color: rgb(247, 108, 198);
 }

 .msgName {
     font-family: monospace;
     margin: 0px 4px;
     margin-right: 8px;
 }

 .time {
     color: grey;
 }

 .mainMsg {
     font-family: cursive;
 }

 .receiver {
     display: flex;
     justify-content: start;
     padding: 4px;
 }

 .receiveMsg {
     display: flex;
     flex-direction: column;
     padding: 8px;
     margin: 4px;
     border-radius: 4px;
     width: auto;
     color: rgb(85, 225, 225);
     background-color: transparent;
     border: 1px solid rgb(85, 225, 225);
 }


 .sendForm {
     border: 2px soldi #1eea3c;
     display: flex;

 }

 .sendInput {
     background-color: azure;
     border-radius: 4px;
     border: 2px solid black;
     width: 80vw;
 }

 input:focus {
     background-color: rgb(236, 250, 215);
 }

 .sendBtn {
     background-color: azure;
     color: black;
     border: none;
     outline: none;
     padding: 10px;
     border-radius: 4px;
     background-color: #1eea3c;
     width: 60px;
     margin: 4px auto;

 }

 .sendBtn:hover {
     transform: scale(1.01);
     background-color: greenyellow;
     color: black;
     transition-duration: 0.2s;
 }